html,
body {
    position: relative;
    width: 100%;
}

input[type="checkbox"] {
    display: none;
}

label {
    position: relative;
    display: inline-block;
    z-index: 1;
    border: 1px solid #b8b8b8;
    margin-left: 10px;
    border-radius: 1px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

label.mark {
    background: url("../img/mark1.png") no-repeat -1px -1px;
}

a:hover {
    color: #ff873e;
    text-decoration: underline;
}

header {
    width: 100%;
}

.header-warp {
    width: 100%;
    height: 72px;
    box-shadow: 0 2px 16px 0 rgba(220, 220, 220, 0.5);
}

.header-box {
    width: 1200px;
    height: 72px;
    margin: 0 auto;
}

.header-box .h-logo a img {
    width: 92px;
    height: auto;
    float: left;
    margin-top: 15px;
}

.header-box .recommend-header {
    float: left;
    line-height: 72px;
    margin-left: 30px;
}

.header-box .recommend-header .re-sy {
    font-size: 16px;
    color: #2d2d2d;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 0px 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
}

.header-box .recommend-header .re-sy:hover {
    color: #ff1268;
}

.header-box .recommend-header .re-fl {
    font-size: 16px;
    color: #2d2d2d;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px 0px 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
}

.header-box .recommend-header .re-fl:hover {
    color: #ff1268;
}

.header-box .right-header {
    height: 100%;
    position: relative;
    float: right;
    line-height: 72px;
}

.header-box .right-header .r-load {
    height: 100%;
    display: inline-block;
    line-height: 72px;
    cursor: pointer;
    position: relative;
    margin-left: 30px;
}

.header-box .right-header .r-load img {
    width: 26px;
    z-index: 20000;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}

.header-box .right-header .r-load a {
    display: inline-block;
    font-size: 16px;
    color: #111;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
}

.header-box .right-header .r-load .list-warp {
    width: 133px;
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -67px;
    top: 50px;
    z-index: 999;
}

.header-box .right-header .r-load .list-warp:after {
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 60px;
    margin-top: -5.5px;
    width: 0;
    height: 0;
    content: '';
    border-style: solid;
    border-width: 5px;
    border-color: #fff #fff transparent transparent;
    transform: rotate(-45deg);
    box-shadow: 1px -1px 1px #ccc;
}

.header-box .right-header .r-load .list-warp .list-login {
    width: 100%;
    position: relative;
    margin-top: 10px;
    background: #fff;
    border: 1px solid #f4f4f4;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
    border-radius: 2px;
}

.header-box .right-header .r-load .list-warp .list-login a:hover {
    color: #ff1268;
}

.header-box .right-header .r-load .list-warp .list-login .list-login-use {
    width: 100%;
    height: 50px;
    display: block;
    line-height: 50px;
    font-size: 14px;
    color: #111;
    letter-spacing: 0.54px;
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
}

.header-box .right-header .r-load:hover .list-warp {
    display: block;
}

.header-box .right-header .r-load:hover>a {
    color: #ff1268;
}

.header-box .right-header .r-download img {
    width: 26px;
    z-index: 20000;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}

.header-box .right-header .r-download a {
    display: inline-block;
    font-size: 16px;
    color: #111;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
}

.header-box .right-header .r-download .ewm-download {
    width: 80px;
    height: 80px;
    display: none;
    position: absolute;
    top: 60px;
    left: 120px;
    z-index: 999;
    background: white;
    padding: 5px;
    box-shadow: 1px -1px 1px #ccc;
}

.header-box .right-header .r-download .ewm-download::after {
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 40px;
    margin-top: -5.5px;
    width: 0;
    height: 0;
    content: '';
    border-style: solid;
    border-width: 5px;
    border-color: #fff #fff transparent transparent;
    transform: rotate(-45deg);
    box-shadow: 1px -1px 1px #ccc;
}

.header-box .right-header .r-download .ewm-download img {
    width: 100%;
    height: 100%;
}

.header-box .right-header .r-download:hover .ewm-download {
    display: block;
}

.header-box .right-header .r-download:hover>a {
    color: #ff1268;
}

.header-box .right-header .r-language img {
    width: 26px;
    z-index: 20000;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}

.header-box .right-header .r-language a {
    display: inline-block;
    font-size: 16px;
    color: #111;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
}

.header-box .right-header .r-language:hover>a {
    color: #ff1268;
}

.header-box .header-search {
    width: 401px;
    height: 46px;
    margin-top: 12px;
    margin-right: 20px;
    line-height: 46px;
    float: right;
    position: relative;
}

.header-box .header-search img {
    width: 17px;
    position: absolute;
    left: 22px;
    top: 15px;
    z-index: 11;
}

.header-box .header-search .input-search {
    width: 253px;
    height: 44px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    font-size: 16px;
    padding: 0 10px 0 54px;
    border-top-left-radius: 46px;
    border-bottom-left-radius: 46px;
    border: 1px solid #f8f8f8;
    background-color: #f8f8f8;
    border-right-color: #ff1268;
    box-sizing: content-box;
    outline: none;
}

.header-box .header-search .btn-search {
    width: 82px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: #ff1268;
    line-height: 46px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    border-radius: 0 27px 27px 0;
    z-index: 11;
    letter-spacing: 4px;
    cursor: pointer;
}

.r-load,
.r-download,
.r-language {
    float: left;
}

.r-load,
.r-download {
    margin-right: 30px;
}

.cartMain {
    position: relative;
    width: 1200px;
    min-width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 0px 100px;
    min-height: 210px;
}


/*购物车头部*/

.cartMain_hd {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #3c3c3c;
}

.cartMain_hd .cartTop {
    height: 50px;
}

.cartMain_hd .cartTop .list_chk {
    width: 80px;
    text-indent: 30px;
}

.cartMain_hd .cartTop .list_con {
    width: 312px;
}

.cartMain_hd .cartTop .list_chk label {
    position: absolute;
    left: 10px;
    top: 19px;
    margin: 0;
}

.cartMain_hd .cartTop .list_info {
    padding: 0;
    text-indent: 15px;
}

.cartMain_hd .cartTop .list_con {
    text-indent: 140px;
}

.cartBox {
    width: 100%;
    margin-bottom: 15px;
}

.cartBox .shop_info {
    position: relative;
    width: 100%;
    height: 38px;
    background-color: #fff;
    line-height: 38px;
    vertical-align: baseline;
}

.cartBox .shop_info .all_check {
    position: relative;
    float: left;
    width: 30px;
    height: 38px;
}

.cartBox .shop_info .all_check input[type="checkbox"] {
    position: absolute;
    z-index: 0;
    left: -20px;
    top: -20px;
}

.cartBox .shop_info .all_check .shop {
    position: absolute;
    top: 13px;
}

.cartBox .shop_info .shop_name {
    float: left;
}


/*商品列表*/

.cartBox .order_content {
    border: 1px solid #ccc;
}

.cartBox .order_content a {
    display: block;
}

.order_lists {
    width: 100%;
    height: 130px;
    border-bottom: 1px solid #e7e7e7;
}

.order_lists:last-child {
    border-bottom: none;
}

.order_lists li {
    float: left;
    height: 100%;
}

.order_lists .list_chk {
    position: relative;
    width: 50px;
}

.order_lists .list_chk input[type="checkbox"] {
    position: absolute;
    z-index: 0;
    left: -20px;
    top: -20px;
}

.order_lists .list_chk label {
    margin: 20px 0 0 24px;
}

.order_lists .list_con {
    width: 342px;
}

.order_lists .list_con .list_img {
    width: 90px;
    height: 90px;
    float: left;
}

.order_lists .list_con .list_img img {
    width: 100%;
    vertical-align: top;
}

.order_lists .list_con .list_text {
    margin: 20px 0 0 10px;
    line-height: 18px;
    width: 200px;
    float: left;
}

.order_lists .list_con .list_text a {
    color: #3c3c3c;
}

.order_lists .list_con .list_text a:hover {
    color: #ff873e;
    text-decoration: underline;
}

.order_lists .list_info {
    width: 252px;
    box-sizing: border-box;
    padding: 20px 0;
}

.order_lists .list_info p {
    color: #9c9c9c;
    line-height: 18px;
    margin-left: 15px;
}

.order_lists .list_price {
    width: 130px;
}

.order_lists .list_price .price {
    margin-top: 20px;
    line-height: 18px;
    font-family: Verdana, Tahoma, arial;
    color: #3c3c3c;
    font-weight: bold;
}

.order_lists .list_amount {
    width: 120px;
}

.order_lists .list_amount .amount_box {
    margin-top: 20px;
    width: 77px;
    height: 25px;
    position: relative;
}

.order_lists .list_amount .amount_box input {
    width: 39px;
    height: 15px;
    line-height: 15px;
    border: 1px solid #aaa;
    color: #343434;
    text-align: center;
    padding: 4px 0;
    background-color: #fff;
    z-index: 2;
    position: absolute;
    left: 18px;
    float: left;
}

.order_lists .list_amount .amount_box a {
    float: left;
    height: 23px;
    width: 17px;
    border: 1px solid #e5e5e5;
    background: #f0f0f0;
    text-align: center;
    line-height: 23px;
    color: #444;
    position: absolute;
    top: 0;
}

.order_lists .list_amount .amount_box a:hover {
    border-color: #ff873e;
    text-decoration: none;
    color: #ff873e;
    z-index: 3;
}

.order_lists .list_amount .amount_box .reduce {
    left: 0;
}

.order_lists .list_amount .amount_box .reSty {
    color: #cbcbcb;
}

.order_lists .list_amount .amount_box .reSty:hover {
    border-right: none;
    border-color: #e5e5e5;
    text-decoration: none;
    color: #cbcbcb;
}

.order_lists .list_amount .amount_box .plus {
    border-left-color: transparent;
    right: 0;
}

.order_lists .list_sum {
    width: 140px;
}

.order_lists .list_sum .sum_price {
    line-height: 18px;
    margin-top: 20px;
    font-family: Verdana, Tahoma, arial;
    color: #ff0000;
    font-weight: bold;
}

.order_lists .list_op {
    width: 164px;
}

.order_lists .list_op .del {
    margin-top: 20px;
    line-height: 18px;
}


/*底部总计算价*/

.bar-wrapper {
    width: 1200px;
    height: 50px;
    position: fixed;
    bottom: -1px;
    z-index: 99;
    background: #e5e5e5;
}

.bar-wrapper .bar-right {
    float: right;
    color: #3c3c3c;
}

.bar-wrapper .bar-right strong {
    color: #f40;
}

.bar-wrapper .bar-right .piece {
    float: left;
    min-width: 110px;
    margin-right: 20px;
    height: 50px;
    line-height: 50px;
}

.bar-wrapper .bar-right .piece .piece_num {
    display: inline-block;
    padding: 0 10px;
    font-weight: 700;
    font-size: 18px;
    font-family: tohoma, arial;
}

.bar-wrapper .bar-right .totalMoney {
    float: left;
    min-width: 100px;
    height: 50px;
    line-height: 50px;
}

.bar-wrapper .bar-right .totalMoney .total_text {
    float: right;
    font-weight: 400;
    font-size: 20px;
    font-family: Arial;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 15px;
}

.bar-wrapper .bar-right .calBtn {
    float: left;
}

.bar-wrapper .bar-right .calBtn a {
    display: block;
    width: 120px;
    height: 50px;
    color: #fff;
    background: #B0B0B0;
    cursor: not-allowed;
    font-size: 22px;
    letter-spacing: 5px;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    border-radius: 2px;
}

.bar-wrapper .bar-right .calBtn a.btn_sty {
    background: #f40;
    cursor: pointer;
}


/*自己定义的模态框*/

.model_bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 999;
    display: none;
}

.my_model {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -200px;
    z-index: 9999;
    width: 360px;
    height: 120px;
    border: 1px solid #aeaeae;
    border-radius: 3px;
    padding: 20px;
    background: #fff;
}

.my_model .title {
    font-size: 14px;
    color: #3c3c3c;
    font-weight: 700;
    margin-bottom: 20px;
}

.my_model .title .closeModel {
    float: right;
    cursor: pointer;
}

.my_model p {
    line-height: 16px;
}

.my_model .opBtn {
    margin-top: 20px;
}

.my_model .opBtn a {
    width: 58px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    border-radius: 1px;
    display: inline-block;
    margin-right: 10px;
    font-weight: 700;
}

.my_model .dialog-sure {
    background: #52a0e5;
    color: #fff;
    border: 1px solid #52a0e5;
}

.my_model .dialog-close {
    background: #fff;
    border: 1px solid #d9d9d9;
    color: #3c3c3c;
}

.footer {
    width: 100%;
    background-color: #f8f8f8;
}

.footer .footer-content {
    height: 300px;
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 58px;
}

.footer .footer-content ul {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 36px 0px;
}

.footer .footer-content ul ._list {
    color: #111;
    font-size: 13px;
    padding: 0px 10px;
}

.footer .footer-content ul ._list a {
    color: #111;
    font-size: 13px;
    text-decoration: none;
}

.footer .footer-content ul ._list a:hover {
    color: #ff1268;
}

.footer .footer-content ul ._grep {
    padding: 0px 10px;
    color: #111;
    font-size: 13px;
}

.footer .footer-content .footer-box {
    padding-bottom: 58px;
}

.footer .footer-content .footer-box .footer-fl {
    float: left;
    margin-right: 100px;
}

.footer .footer-content .footer-box .footer-fl .dm {
    display: block;
    float: left;
    margin-right: 50px;
    margin-left: 50px;
}

.footer .footer-content .footer-box .footer-fl .dm img {
    width: 167px;
}

.footer .footer-content .footer-box .footer-fl .ewm {
    display: block;
    float: left;
    position: relative;
}

.footer .footer-content .footer-box .footer-fl .ewm img {
    width: 88px;
}

.footer .footer-content .footer-box .footer-fl .ewm span {
    color: #111;
    position: absolute;
    bottom: -20px;
    left: 11px;
}

.footer .footer-content .footer-box .footer-fr {
    float: left;
}

.footer .footer-content .footer-box .footer-fr .online {
    width: 55px;
    display: block;
    padding: 5px 10px;
    background: #FF1268;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    margin-bottom: 5px;
}

.footer .footer-content .footer-box .footer-fr .fr-first {
    margin-bottom: 6px;
    padding: 0px;
    justify-content: left;
}

.footer .footer-content .footer-box .footer-fr .fr-first .list {
    color: #111;
    text-align: center;
    font-size: 13px;
}

.footer .footer-content .footer-box .footer-fr .fr-first .list a {
    color: #111;
    font-size: 13px;
    text-decoration: none;
}

.footer .footer-content .footer-box .footer-fr .fr-first .list a:hover {
    color: #FF1268;
}

.footer .footer-content .footer-box .footer-fr .fr-first ._grep {
    font-size: 13px;
    color: #111;
}

.footer .footer-content .footer-box .footer-fr .fr-pic {
    margin-top: 10px;
    margin-left: 10px;
    justify-content: left;
    padding: 20px 0px;
}

.footer .footer-content .footer-box .footer-fr .fr-pic li img {
    margin-right: 6px;
    height: 30px;
}